<h1>Dallas, TX</h1>
<div class="row">
  <div class="col">
    <p>Humidity: {{weather_data["main"]["humidity"]}}</p>
    <p>Temperature (avg): {{weather_data["main"]["temp"]}}</p>
    <p>Temperature (low): {{weather_data["main"]["temp_min"]}}</p>
    <p>Temperature (high): {{weather_data["main"]["temp_max"]}}</p>
    <p>Status: {{weather_data["weather"][0]["description"]}}</p>
  </div>
  <div class="col">
    <img src="https://images.pexels.com/photos/280193/pexels-photo-280193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
</div>