<h1>Chicago, IL</h1>
<div class="row">
  <div class="col">
    <p>Humidity: {{weather_data["main"]["humidity"]}}</p>
    <p>Temperature (avg): {{weather_data["main"]["temp"]}}</p>
    <p>Temperature (low): {{weather_data["main"]["temp_min"]}}</p>
    <p>Temperature (high): {{weather_data["main"]["temp_max"]}}</p>
    <p>Status: {{weather_data["weather"][0]["description"]}}</p>
  </div>
  <div class="col">
    <img src="https://images.pexels.com/photos/161963/chicago-illinois-skyline-skyscrapers-161963.jpeg?cs=srgb&dl=afternoon-america-architecture-161963.jpg&fm=jpg">
  </div>
</div>